#about-container {
    font-family: inherit;
    position: fixed;
    left: 50%;
    max-width: 500px;
    transform: translate(-50%);
    text-align: center;
    padding: 20px 25vh;
    width: 50%;
    font-size: 16pt;
}

#about-container header {
    font-size: 14pt;
}

#about-container p:first-of-type {
    font-weight: normal !important;
    text-align: left;
}

#about-content {
    font-size: 14pt;
    text-align: left;
}